* {
  margin: 0;
  padding: 0;
}

.separated-list {
  list-style-type: none;
}

.separated-list li:not(:last-child)::after {
  content: " . ";
  white-space: pre-wrap;
  margin-bottom: 10px;
}

/*--------------------------------------------------------------
  # video
  --------------------------------------------------------------*/
.parent-element-to-video {
  position: relative;
}
video {
  position: absolute;
  left: 50%; /* % of surrounding element */
  top: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%); /* % of current element */
}

@media screen and (max-width: 1279px) {
  video {
    display: none !important;
  }
}

/*--------------------------------------------------------------
# navbar
--------------------------------------------------------------*/
.navbar {
  text-align: center; /* Pour centrer horizontalement */
}

.navbar-nav {
  display: inline-block;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin: 0 10px; /* Espacement entre les éléments de la navbar */
}

.nav-item a {
  text-decoration: none;
  color: #333; /* Couleur du texte des liens */
}

.fusion-secondary-header {
  color: #747474;
  font-size: 12px;
  height: 30px;
  background-color: #3e3e3e;
  display: flex;
  justify-content: center;
  color: white;
}

@media only screen and (max-width: 768px) {
  .fusion-secondary-header {
    display: none;
  }
}

/*--------------------------------------------------------------
# Login page
--------------------------------------------------------------*/
.card-fill {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #d5d7d9;
  border-radius: 0.5rem;
  flex: 1 1 auto;
}

.card-fill .card-body {
  display: flex;
  align-items: center;
  padding: 20px !important;
}

@media (min-width: 576px) {
  .card-fill .card-body {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    padding-left: 28px !important;
    padding-right: 28px !important;
  }
}

.my-8 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.lh-label {
  line-height: 1.35rem;
}

.form-control-login {
  height: calc(1.75em + 0.875rem + 2px);
  padding: 0.4375rem 1rem;
  line-height: 1.75;
  color: #0d161b;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d5d7d9;
  border-radius: 0.5rem;
}

.form-control-login::-webkit-input-placeholder {
  color: #9ea2a4;
}

.form-control-login::-moz-placeholder {
  color: #9ea2a4;
}

.form-control-login:-ms-input-placeholder {
  color: #9ea2a4;
}

.form-control-login::-ms-input-placeholder {
  color: #9ea2a4;
}

.form-control-login::placeholder {
  color: #9ea2a4;
}

.form-control-login:focus {
  color: #0d161b;
  background-color: #fff;
  border-color: #0d161b;
  outline: 0;
  box-shadow: 0 0 0 0.1875rem #d5d7d9;
}

form:invalid button.btn-dark[type="submit"],
.btn-dark:disabled {
  color: #fff;
  background-color: #0d161b;
  border-color: #0d161b;
  opacity: 0.4;
}

.text-muted a {
  color: #53595c !important;
}

/*--------------------------------------------------------------

# Checkout CSS STRIPE

--------------------------------------------------------------*/

#payment-form {
  width: 30vw;

  min-width: 500px;

  align-self: center;

  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);

  border-radius: 7px;

  padding: 40px;
}

.hidden {
  display: none;
}

#payment-message {
  color: rgb(105, 115, 134);

  font-size: 16px;

  line-height: 20px;

  padding-top: 12px;

  text-align: center;
}

#payment-element {
  margin-bottom: 24px;
}

/* Buttons and links */

#submit {
  background: #5469d4;

  font-family: Arial, sans-serif;

  color: #ffffff;

  border-radius: 4px;

  border: 0;

  padding: 12px 16px;

  font-size: 16px;

  font-weight: 600;

  cursor: pointer;

  display: block;

  transition: all 0.2s ease;

  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);

  width: 100%;
}

#submit:hover {
  -webkit-filter: contrast(115%);

  filter: contrast(115%);
}

#submit:disabled {
  opacity: 0.5;

  cursor: default;
}

/* spinner/processing state, errors */

.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}

.spinner {
  color: #ffffff;

  font-size: 22px;

  text-indent: -99999px;

  margin: 0px auto;

  position: relative;

  width: 20px;

  height: 20px;

  box-shadow: inset 0 0 0 2px;

  transform: translateZ(0);
}

.spinner:before,
.spinner:after {
  position: absolute;

  content: "";
}

.spinner:before {
  width: 10.4px;

  height: 20.4px;

  background: #5469d4;

  border-radius: 20.4px 0 0 20.4px;

  top: -0.2px;

  left: -0.2px;

  transform-origin: 10.4px 10.2px;

  -webkit-animation: loading 2s infinite ease 1.5s;

  animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
  width: 10.4px;

  height: 10.2px;

  background: #5469d4;

  border-radius: 0 10.2px 10.2px 0;

  top: -0.1px;

  left: 10.2px;

  transform-origin: 0px 10.2px;

  -webkit-animation: loading 2s infinite ease;

  animation: loading 2s infinite ease;
}

@-webkit-keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  #payment-form {
    width: 80vw;

    min-width: initial;
  }
}

body {
  margin-top: 20px;
}
.blog-listing {
  padding-top: 30px;
  padding-bottom: 30px;
}
.gray-bg {
  background-color: #f5f5f5;
}
/* Blog 
---------------------*/
.blog-grid {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
}
.blog-grid .blog-img {
  position: relative;
}
.blog-grid .blog-img .date {
  position: absolute;
  background: #fc5356;
  color: #ffffff;
  padding: 8px 15px;
  left: 10px;
  top: 10px;
  border-radius: 4px;
}
.blog-grid .blog-img .date span {
  font-size: 22px;
  display: block;
  line-height: 22px;
  font-weight: 700;
}
.blog-grid .blog-img .date label {
  font-size: 14px;
  margin: 0;
}
.blog-grid .blog-info {
  padding: 20px;
}
.blog-grid .blog-info h5 {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 10px;
}
.blog-grid .blog-info h5 a {
  color: #20247b;
}
.blog-grid .blog-info p {
  margin: 0;
}
.blog-grid .blog-info .btn-bar {
  margin-top: 20px;
}

/* Blog Sidebar
-------------------*/
.blog-aside .widget {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.blog-aside .widget-body {
  padding: 15px;
}
.blog-aside .widget-title {
  padding: 15px;
  border-bottom: 1px solid #eee;
}
.blog-aside .widget-title h3 {
  font-size: 20px;
  font-weight: 700;
  color: #fc5356;
  margin: 0;
}
.blog-aside .widget-author .media {
  margin-bottom: 15px;
}
.blog-aside .widget-author p {
  font-size: 16px;
  margin: 0;
}
.blog-aside .widget-author .avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.blog-aside .widget-author h6 {
  font-weight: 600;
  color: #20247b;
  font-size: 22px;
  margin: 0;
  padding-left: 20px;
}
.blog-aside .post-aside {
  margin-bottom: 15px;
}
.blog-aside .post-aside .post-aside-title h5 {
  margin: 0;
}
.blog-aside .post-aside .post-aside-title a {
  font-size: 18px;
  color: #20247b;
  font-weight: 600;
}
.blog-aside .post-aside .post-aside-meta {
  padding-bottom: 10px;
}
.blog-aside .post-aside .post-aside-meta a {
  color: #6f8ba4;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}
.blog-aside .latest-post-aside + .latest-post-aside {
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 15px;
}
.blog-aside .latest-post-aside .lpa-right {
  width: 90px;
}
.blog-aside .latest-post-aside .lpa-right img {
  border-radius: 3px;
}
.blog-aside .latest-post-aside .lpa-left {
  padding-right: 15px;
}
.blog-aside .latest-post-aside .lpa-title h5 {
  margin: 0;
  font-size: 15px;
}
.blog-aside .latest-post-aside .lpa-title a {
  color: #20247b;
  font-weight: 600;
}
.blog-aside .latest-post-aside .lpa-meta a {
  color: #6f8ba4;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}

.tag-cloud a {
  padding: 4px 15px;
  font-size: 13px;
  color: #ffffff;
  background: #20247b;
  border-radius: 3px;
  margin-right: 4px;
  margin-bottom: 4px;
}
.tag-cloud a:hover {
  background: #fc5356;
}

.blog-single {
  padding-top: 30px;
  padding-bottom: 30px;
}

.article {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  padding: 15px;
  margin: 15px 0 30px;
}
.article .article-title {
  padding: 15px 0 20px;
}
.article .article-title h6 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}
.article .article-title h6 a {
  text-transform: uppercase;
  color: #fc5356;
  border-bottom: 1px solid #fc5356;
}
.article .article-title h2 {
  color: #20247b;
  font-weight: 600;
}
.article .article-title .media {
  padding-top: 15px;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 20px;
}
.article .article-title .media .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.article .article-title .media .media-body {
  padding-left: 8px;
}
.article .article-title .media .media-body label {
  font-weight: 600;
  color: #fc5356;
  margin: 0;
}
.article .article-title .media .media-body span {
  display: block;
  font-size: 12px;
}
.article .article-content h1,
.article .article-content h2,
.article .article-content h3,
.article .article-content h4,
.article .article-content h5,
.article .article-content h6 {
  color: #20247b;
  font-weight: 600;
  margin-bottom: 15px;
}
.article .article-content blockquote {
  max-width: 600px;
  padding: 15px 0 30px 0;
  margin: 0;
}
.article .article-content blockquote p {
  font-size: 20px;
  font-weight: 500;
  color: #fc5356;
  margin: 0;
}
.article .article-content blockquote .blockquote-footer {
  color: #20247b;
  font-size: 16px;
}
.article .article-content blockquote .blockquote-footer cite {
  font-weight: 600;
}
.article .tag-cloud {
  padding-top: 10px;
}

.article-comment {
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  border-radius: 5px;
  overflow: hidden;
  background: #ffffff;
  padding: 20px;
}
.article-comment h4 {
  color: #20247b;
  font-weight: 700;
  margin-bottom: 25px;
  font-size: 22px;
}
img {
  max-width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}

/*--------------------------------------------------------------
# Card
--------------------------------------------------------------*/
.embed-responsive .card-img-top {
  object-fit: cover;
}
/*--------------------------------------------------------------
# Filters
--------------------------------------------------------------*/
.box {
  padding: 10px;
}

#collapseSections,
#collapseNavigation {
  height: 300px;
  margin-right: 0.3rem !important;
  overflow-y: scroll;
}

#collapseSections::-webkit-scrollbar,
#collapseNavigation::-webkit-scrollbar {
  width: 6px;
}

#collapseSections::-webkit-scrollbar-thumb,
#collapseNavigation::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 2px;
}

#collapseSections::-webkit-scrollbar-track,
#collapseNavigation::-webkit-scrollbar-track {
  background-color: #ddd;
  border-radius: 2px;
}

.box-label {
  color: #1d2939;
  font-size: 0.9rem;
  font-weight: 800;
}

.box-label .btn {
  background-color: #fff;
  padding: 0;
}

.box-label .btn:focus {
  box-shadow: none;
}

.box-label .btn:active,
.box-label .btn:hover {
  color: #212529;
  background-color: #fff;
  border-color: transparent;
}

.filter {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

/*--------------------------------------------------------------
# Spinner
--------------------------------------------------------------*/
.is-loading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.5;
  z-index: 4;
}

.is-loading .spinner-border {
  position: absolute;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  z-index: 5;
}

.star-rating i {
  cursor: pointer;
}

.star-rating > i.far.fa-star {
  font-size: 24px;
  color: #ccc;
  transition: color 0.3s ease-in-out;
}

.star-rating > i.fa-star.fas {
  font-size: 24px;
  color: #f8d32b;
}

/*--------------------------------------------------------------
# Error 404
--------------------------------------------------------------*/
.error-404 {
  padding: 30px;
}

.error-404 h1 {
  font-size: 180px;
  font-weight: 700;
  color: #4154f1;
  margin-bottom: 0;
  line-height: 150px;
}

.error-404 h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
  margin-bottom: 30px;
}

.error-404 .btn {
  background: #51678f;
  color: #fff;
  padding: 8px 30px;
}

.error-404 .btn:hover {
  background: #3e4f6f;
}

@media (min-width: 992px) {
  .error-404 img {
    max-width: 50%;
  }
}
