{% extends 'base.html.twig' %}

{% block title %}Hello AdviseController!
{% endblock %}


{% block body %}
	<h1>Thym Thymol</h1>
	<h2>Utilisations de l'huile essentielle de Thym Thymol</h2>
{% endblock %}
